.container-fluid {
    padding: 0;
}

.row {
    padding: 0 15px;
}

nav {
    background-color: black;
}
    
#title{
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    margin: 5% 0;
    color: rgb(54, 3, 3);
}

#subtitle{
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-bottom: 200px;
    color: rgb(54, 3, 3);
}

#emailButton{
    margin-left: auto;
    margin-right: 10px;
}

#aboutMeText{
    margin-top: 50px;
    text-align: center;
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    
}

.jumbotron{
    background-image: url("blu.png");
    background-size: cover;
}

#projectText{
    text-align: center;
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
}

.card{
    margin-left: 4%;
    margin-top: 90px;
    margin-bottom: 40px;
}

.logos{
    margin-left: 40%;
}

#me{ 
    
    border-radius: 5%;
    margin-bottom: 40px;
}

#bioText{
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 28px;
    
    
}

.aboutRow{
    background-color: rgb(47, 103, 216);
    display: flex;
}

.aboutMeTitle{
    background-color: rgb(47, 103, 216);
}

#contactText{
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.dogCard{
    margin-left: 22%;
}

.col-sm-6{
    margin-left: 0%;
}